<ul>
    <li *ngFor="let food of foods">
        <a>
            <img src="{{food.imageUrl}}" alt="food Images">
            <div class="content">
                <div class="name">

                    {{food.name}}
                    <div class="favorite {{food.favorite?'red':''}">
                        <rm-ng-star-rating [rating]="food.stars" [starCount]="5" [color]="'red'" [emptyColor]="'lightgray'"
                            [size]="'30px'" [readOnly]="true">
                        </rm-ng-star-rating>
                        <div class="product-item-footer">
                            <div class="origins">
                                <span *ngFor="let origin of food.origins">
                                    {{origin}}
                                    </span>
                                    
                                </div>
                                <div class="cook-time">
                                    <span>&#128338;</span>
                                {{food.cookTime}}    
                                </div>
                                <div class="price">
                                {{food.price | currency}
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>