ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: 26rem;
    width: 21rem;
    border:1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: orange;
}

li a:hover {
    opacity: 0.9;
    cursor: pointer;
}

.content {
    padding: 5rem 1rem;
    position:relative;

}
.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.3 rem;
}

.favorite .black{
    color: black;
}
.star {
    margin-bottom: 0.3rem;
}

.product-item-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.origins{
    flex:9;
}

.origins span {
    border-radius: 2rem;
    background-color: whitesmoke;
    color: gray;
    margin-right: .3rem;
    display: inline-block;
}

.cook-time {
    font-size: 0.8rem;
    flex: 3;
    text-align: center;
}

.price{
    color: gray;
    margin-top: 0.2rem;
}